div{
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.circulo {
    border-radius:50%;
    border: 3px sandybrown solid;
    width: 100px;
    height: 100px;
    background:black;
    
}

.cuadrado {
    width: 100px;
    height: 100px;
    background:lightskyblue;
}

#sombra.cuadrado {
  box-shadow: 10px 10px 6px gray; 
}

.cuadrado-colores {
    width: 0px;
    height: 0px;
    border-left: 100px blue solid;
    border-top: 50px yellow solid ;
    border-bottom: 50px red solid; 
}

#sombra.cuadrado-colores {
    box-shadow: 10px 10px 6px gray; 
  }

.circulo-colores {
    border-radius:100%;
    width: 0px;
    height: 0px;
    border-right: 50px transparent solid;
    border-left: 50px blue solid;
    border-top: 50px yellow solid ;
    border-bottom: 50px red solid;
}
